body {
    margin: 0;
    padding: 0;
}

#items_spec {
    width: 100vw;
    background-color: orangered;
    display: flex;
    justify-content: end;
}

#items_spec form {
    display: flex;
    flex-direction: column;
}

#payment_spec {
    background-color: greenyellow;
    display: flex;
    justify-content: end;
}

#payment_spec form {
    display: flex;
    flex-direction: column;
}

#delivery_spec {
    background-color: gray;
}

#purchase_summary {
    background-color: antiquewhite;
}