/* GENERAL STYLES - start */

body {
    position: relative;
    margin: 0;
    padding: 0;
}

#items_spec {
    position: relative;
    width: 100vw;
    background-color: orangered;
    display: flex;
    justify-content: end;
}

#items_spec #items_showcase {
    position: absolute;
    top: 2rem;
    left: 2rem;
    height: 90vh;
    width: 60vh;
    border: 0.3rem solid darkgreen;
}

#items_spec #items_showcase img {
    width: 100%;
    height: 100%;
}

#items_spec form {
    display: flex;
    flex-direction: column;
}

#payment_spec {
    background-color: greenyellow;
    display: flex;
    justify-content: end;
}

#payment_spec form {
    display: flex;
    flex-direction: column;
}

#delivery_spec {
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

#purchase_summary {
    background-color: antiquewhite;
    border: 0.2rem solid blanchedalmond;
    background-color: rgb(113, 150, 150);
}

/* GENERAL STYLES - end */