body {
    margin: 0;
    padding: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../Common imagery/background.jpg");
}

body h1 {
    background-color: brown;
    padding: 2rem;
    border-radius: 3rem;
    text-align: center;
    margin: 1rem 1rem 3rem 1rem;
}

#account_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#data_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

#data_form label {
    display: flex;
    flex-direction: column;
}

#data_form label input {
    width: 100%;
}

#submitter {
    margin-bottom: 2rem;
}


@media screen and (max-width: 625px) {
    
    #account_container {
        flex-direction: column;
    }

}

